<a href="https://colab.research.google.com/github/yashika-ishi/CSI_Assignments_2025/blob/main/Week1_Assignment_Print_the_Triangle_pattern_Yashika_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Celebal Technologies**
Celebel Summer Internship (CSI)
<br>
WEEK-1
<br>
Assignment : Print the Triangle pattern
1. Create lower triangular, upper triangular and pyramid containing the "*" character.
***By: Yashika***

In [1]:
# Creating lower triangular pattern
def print_lower_triangular(rows):
    print("\nLower Triangular Pattern (Rows:", rows,")")
    for i in range(1, rows + 1):
        print("*" * i)

# Creating upper triangular pattern
def print_upper_triangular(rows):
    print("\nUpper Triangular Pattern (Rows:", rows,")")
    for i in range(rows, 0, -1):
        # Calculate leading spaces: (rows - i)
        # Calculate stars: i
        print(" " * (rows - i) + "*" * i)

# Creating upper triangular pattern
def print_pyramid(rows):
    print("\nPyramid Pattern (Rows:", rows,")")
    for i in range(1, rows + 1):
        # Calculate leading spaces: rows - i
        # Calculate stars: 2 * i - 1 (odd numbers: 1, 3, 5, ...)
        print(" " * (rows - i) + "*" * (2 * i - 1))

# Taking number of rows as 5
num_rows = 5

# **Printing Lower Triangular**

In [2]:
print_lower_triangular(num_rows)

Lower Triangular Pattern (Rows: 5 )
*
**
***
****
*****

# **Printing Upper Triangular**

In [3]:
print_upper_triangular(num_rows)

Upper Triangular Pattern (Rows: 5 )
*****
 ****
  ***
   **
    *

# **Printing Pyramid**

In [4]:
print_pyramid(num_rows)

Pyramid Pattern (Rows: 5 )
    *
   ***
  *****
 *******
*********