<a href="https://colab.research.google.com/github/yashika-ishi/CSI_Assignments_2025/blob/main/Week2_Assignment_Implement_a_Linked_List_in_Python_Using_OOP_and_Delete_the_Nth_Node_Yashika.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Celebal Technologies**
<br>
WEEK-2
<br>

Assignment : Implement a Linked List in Python Using OOP and Delete the Nth Node.
<br>
Description:
1. Create a Python program that implements a singly linked list using Object-Oriented Programming (OOP) principles.
   Your implementation should include the following: A Node class to represent each node in the list.
   A LinkedList class to manage the nodes, with methods to: Add a node to the end of the list, Print the list, Delete the nth node (where n is a 1-based index), Include exception handling to manage edge cases such as: Deleting a node from an empty list, Deleting a node with an index out of range.
   Test your implementation with at least one sample list.

***By: Yashika***

# **A Node class to represent each node in the list**

In [55]:
class Node:
    # Represents a single node in a singly linked list.
    def __init__(self, data):
        self.data = data
        self.next = None

# **A LinkedList class to manage the nodes**

In [56]:
class LinkedList:
    # Manages a singly linked list of Node objects.
    def __init__(self):
        self.head = None

    def add_to_end(self, data):
        # Adds a new node with the given data to the end of the linked list.
        new_node = Node(data)
        if self.head is None:
            self.head = new_node
            return
        last_node = self.head

        while last_node.next:
            last_node = last_node.next
        last_node.next = new_node
        print(f"Added '{data}' to the end of the list.")

    def print_list(self):
        """
        Prints the data of each node in the linked list sequentially.
        If the list is empty, it prints a corresponding message.
        """
        if self.head is None:
            print("The list is empty.")
            return

        current = self.head
        elements = []
        while current:
            elements.append(str(current.data))
            current = current.next
        print("List: " + " -> ".join(elements))

    def delete_nth_node(self, n):
        """
        Deletes the nth node (1-based index) from the linked list.
        If the list is empty or the index is out of range, it raises a ValueError.
        """
        if self.head is None:
            raise ValueError("Cannot delete from an empty list.")

        if n < 1:
            raise ValueError("Node index must be 1-based (n >= 1).")

        # Handle deletion of the head node (n=1)
        if n == 1:
            deleted_data = self.head.data
            self.head = self.head.next
            print(f"Deleted the 1st node with data: '{deleted_data}'.")
            return

        # Traverse to the node just before the one to be deleted
        current = self.head
        count = 1
        while current and count < n - 1:
            current = current.next
            count += 1

        # Check if the index is out of range
        if current is None or current.next is None:
            raise ValueError(f"Index {n} is out of range for the current list size.")

        # Perform the deletion
        deleted_data = current.next.data
        current.next = current.next.next
        print(f"Deleted the {n}th node with data: '{deleted_data}'.")

# **Test Implementation**

In [57]:
print("--- Initializing Linked List ---")
my_list = LinkedList()
my_list.print_list()

--- Initializing Linked List ---
The list is empty.

# **Add nodes to the end of the list**

In [58]:
print("\n--- Adding Nodes ---")
my_list.add_to_end("Apple")
my_list.add_to_end("Banana")
my_list.add_to_end("Cherry")
my_list.add_to_end("Date")

--- Adding Nodes ---
Added 'Banana' to the end of the list.
Added 'Cherry' to the end of the list.
Added 'Date' to the end of the list.

# **Print the list**

In [59]:
my_list.print_list()

List: Apple -> Banana -> Cherry -> Date

# **Delete the nth node**

In [60]:
print("\n--- Deleting Nodes ---")
# Test Case 1: Delete a middle node
try:
    my_list.delete_nth_node(3) # Delete "Cherry"
    my_list.print_list()
except ValueError as e:
    print(f"Error: {e}")

--- Deleting Nodes ---
Deleted the 3th node with data: 'Cherry'.
List: Apple -> Banana -> Date

In [61]:
# Test Case 2: Delete the head node
try:
    my_list.delete_nth_node(1) # Delete "Apple"
    my_list.print_list()
except ValueError as e:
    print(f"Error: {e}")

Deleted the 1st node with data: 'Apple'.
List: Banana -> Date

In [62]:
# Test Case 3: Delete the last node
try:
    my_list.delete_nth_node(2) # Delete "Date" (originally 4th, now 2nd)
    my_list.print_list()
except ValueError as e:
    print(f"Error: {e}")

Deleted the 2th node with data: 'Date'.
List: Banana

# **Testing Exception Handling**

**Deleting a node from an empty list**

In [63]:
print("\n--- Testing Exception Handling ---")
# Test Case 4: Delete from an empty list
try:
    empty_list = LinkedList()
    empty_list.print_list()
    empty_list.delete_nth_node(1)
except ValueError as e:
    print(f"Caught Expected Error: {e}")
    empty_list.print_list()

--- Testing Exception Handling ---
The list is empty.
Caught Expected Error: Cannot delete from an empty list.
The list is empty.

**Deleting a node with an index out of range**

In [64]:
# Test Case 5: Delete with index out of range (too large)
try:
    my_list.add_to_end("Grape") # Add one node back to illustrate
    my_list.add_to_end("Yashika")
    my_list.print_list()
    my_list.delete_nth_node(5) # List now has Grape, Yashika (length 2)
except ValueError as e:
    print(f"Caught Expected Error: {e}")
    my_list.print_list()

Added 'Grape' to the end of the list.
Added 'Yashika' to the end of the list.
List: Banana -> Grape -> Yashika
Caught Expected Error: Index 5 is out of range for the current list size.
List: Banana -> Grape -> Yashika

In [65]:
# Test Case 6: Delete with invalid index (less than 1)
try:
    my_list.delete_nth_node(0)
except ValueError as e:
    print(f"Caught Expected Error: {e}")
    my_list.print_list()

Caught Expected Error: Node index must be 1-based (n >= 1).
List: Banana -> Grape -> Yashika

# **Final List**

In [66]:
print("\n--- Final State of List ---")
my_list.print_list()

--- Final State of List ---
List: Banana -> Grape -> Yashika